<div class="container">
    <mat-card>
        <mat-card-title>Entre em Contato</mat-card-title>
        <mat-card-content>
            <form class="contact-form">
                <!-- Formulário -->
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email">
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Mensagem</mat-label>
                    <textarea matInput></textarea>
                  </mat-form-field>

                  <button mat-raised-button color="primary" type="submit">Enviar</button>
            </form>
        </mat-card-content>
      </mat-card>
</div>